<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/static/favicon.ico" />
    <title>
      Panoramax <%- instanceName %> : photo-cartographier les territoires
    </title>
    <meta
      name="description"
      content="L'instance Panoramax <%- instanceName %> permet la publication de photo de terrain pour cartographier le territoire. Panoramax favorise la réutilisation des photos pour de nombreux cas d'usages."
    />
    <meta
      name="twitter:title"
      content="Panoramax <%- instanceName %> : photo-cartographier les territoires"
    />
    <meta
      name="og:title"
      content="Panoramax <%- instanceName %> : photo-cartographier les territoires"
    />
    <meta
      name="twitter:description"
      content="L'instance Panoramax <%- instanceName %> permet la publication de photo de terrain pour cartographier le territoire. Panoramax favorise la réutilisation des photos pour de nombreux cas d'usages."
    />
    <meta
      name="og:description"
      content="L'instance Panoramax <%- instanceName %> permet la publication de photo de terrain pour cartographier le territoire. Panoramax favorise la réutilisation des photos pour de nombreux cas d'usages."
    />
    <meta name="og:image" content="<%- frontUrl %>/static/meta-img.jpg" />
    <meta name="twitter:image" content="<%- frontUrl %>/static/meta-img.jpg" />
  </head>
  <body>
    <div id="app"></div>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
