<template>
  <main id="homePage" class="entry-page">
    <section class="entry-section">
      <Viewer ref="viewerRef"> </Viewer>
    </section>
  </main>
</template>

<script lang="ts" setup>
import { ref } from 'vue'
import { useI18n } from 'vue-i18n'
import Viewer from '@/components/Viewer.vue'
import type ViewerType from '@/components/Viewer.vue'
const { t } = useI18n()
const viewerRef = ref<InstanceType<typeof ViewerType>>()
</script>
<style scoped lang="scss">
.entry-page {
  display: flex;
}
.entry-section {
  width: 100%;
  height: calc(100vh - #{toRem(13.2)});
}
.mobile {
  display: none;
}
.focus-pic,
.logged .entry-section {
  height: calc(100vh - #{toRem(8)});
}
.full-viewer {
  .entry-section {
    height: 100vh;
  }
}
.gvs-focus-map .entry-report-button {
  display: none;
}
@media (max-width: toRem(76.8)) {
  .entry-page {
    padding-top: toRem(11.5);
    overflow: hidden;
  }
  .entry-section {
    height: calc(100dvh - #{toRem(18)});
  }
  .full-viewer {
    height: 100vh;
    padding-top: 0;
  }
}
@media (max-width: toRem(50)) {
  .mobile {
    display: block;
  }
  .desktop {
    display: none;
  }
}
</style>
