<template>
  <div id="viewer" class="entry-viewer"></div>
</template>

<script setup lang="ts">
import axios from 'axios'
import { onMounted, onUnmounted, ref, computed } from 'vue'
import { useSequenceStore } from '@/store/sequence'
import { Viewer, StandaloneMap } from 'geovisio'
import { getIgnTiles } from '@/utils/mapAndViewer'
import { createUrlLink } from '@/utils'
import {
  createLink,
  createSequenceLink,
  createFullScreenButton
} from '@/components-viewer/reportLink'
import { useI18n } from 'vue-i18n'
import { hasASessionCookieDecoded } from '@/utils/auth'
import type { ViewerInterface, MapInterface } from '@/views/interfaces/common'
const sequenceStore = useSequenceStore()
const { t } = useI18n()
let mapIsLoaded = ref<boolean>(false)
let viewer = ref()

const props = defineProps({
  fetchOptions: { type: Object, default: {} },
  geovisioViewer: { type: Boolean, default: true },
  bbox: { type: Array, default: null },
  userId: { type: String, default: '' }
})
const isLogged = computed((): boolean => {
  const cookie = hasASessionCookieDecoded()
  return !!(cookie && cookie.account)
})
const userName = computed((): string => {
  const cookie = hasASessionCookieDecoded()
  if (cookie && cookie.account) return cookie.account.name
  return ''
})
defineExpose({
  viewer
})
async function getSequenceId(imgId: string): Promise<{
  sequenceId: string
  username: string
}> {
  const { data } = await axios.get(`api/search?ids=${imgId}`)
  return {
    sequenceId: data.features[0].collection,
    username: data.features[0].properties['geovisio:producer']
  }
}
function createViewerButton(link: HTMLDivElement): void {
  link.innerHTML = `<div>${createFullScreenButton()}</div>`
  viewer.value.addEventListener(
    'picture-loaded',
    async (e: { detail: { picId: string } }): Promise<void> => {
      const sequenceInformation = await getSequenceId(e.detail.picId)
      let href: string
      if (isLogged.value && sequenceInformation.username === userName.value) {
        href = `${window.location.origin}/sequence/${sequenceInformation.sequenceId}?currentPic=${e.detail.picId}`
        link.innerHTML = `<div>
                           ${createFullScreenButton()}
                           ${createSequenceLink(
                             href,
                             t('pages.home.sequence_title')
                           )}
                          </div>`
        sequenceStore.addSequence(e.detail.picId)
      } else {
        href = t('pages.home.report_mail', {
          picId: e.detail.picId,
          link: createUrlLink(e.detail.picId)
        })
        link.innerHTML = `<div>
                           ${createFullScreenButton()}
                           ${createLink(
                             href,
                             t('pages.home.report_button_text')
                           )}
                          </div>`
      }
    }
  )
}
async function setupViewerMap(tiles: string): Promise<void> {
  const maxZoom = import.meta.env.VITE_MAX_ZOOM
  const zoom = import.meta.env.VITE_ZOOM
  const center = import.meta.env.VITE_CENTER
  const raster = import.meta.env.VITE_RASTER_TILE
  let paramsViewer: ViewerInterface = { map: { startWide: true } }
  if (raster && raster !== '') {
    paramsViewer = {
      map: {
        ...paramsViewer.map,
        raster: JSON.parse(raster)
      }
    }
  }
  if (center && center !== '') {
    const centerMap = center.split(',').map((el: string) => parseInt(el))
    paramsViewer = {
      map: {
        ...paramsViewer.map,
        center: centerMap
      }
    }
  }
  if (zoom && zoom.length) {
    paramsViewer = {
      map: {
        ...paramsViewer.map,
        zoom: parseFloat(zoom)
      }
    }
  }
  if (maxZoom && maxZoom.length) {
    paramsViewer = {
      map: {
        ...paramsViewer.map,
        maxZoom: parseInt(maxZoom)
      }
    }
  }
  if (tiles && tiles.length) {
    const style = tiles.includes('wxs.ign.fr') ? await getIgnTiles() : tiles
    paramsViewer = {
      map: {
        ...paramsViewer.map,
        style
      }
    }
  }
  if (props.fetchOptions) {
    paramsViewer = {
      ...paramsViewer,
      ...props.fetchOptions
    }
  }
  const reportLink = document.createElement('div')
  reportLink.className = 'gvs-group gvs-group-large gvs-group-btnpanel'
  viewer.value = new Viewer(
    'viewer', // Div ID
    `${import.meta.env.VITE_API_URL}/api/search`,
    {
      ...paramsViewer,
      widgets: { customWidget: reportLink }
    }
  )
  if (viewer.value && viewer.value.addEventListener) {
    createViewerButton(reportLink)
  }
  mapIsLoaded.value = true
}
async function setupMap(tiles: string): Promise<void> {
  let paramsMap: MapInterface
  paramsMap = { users: [props.userId], minZoom: 7 }
  if (tiles && tiles.length) {
    const style = tiles.includes('wxs.ign.fr') ? await getIgnTiles() : tiles
    paramsMap = {
      ...paramsMap,
      style
    }
  }
  const bbox = [props.bbox[0], props.bbox[1], props.bbox[2], props.bbox[3]]
  viewer.value = new StandaloneMap(
    'viewer', // Div ID
    `${import.meta.env.VITE_API_URL}/api/search`,
    {
      ...paramsMap,
      bounds: bbox,
      zoom: 14
    }
  )
  viewer.value.addEventListener('ready', () => {
    viewer.value.fitBounds(bbox, {
      padding: { top: 70, bottom: 70, left: 70, right: 70 },
      maxZoom: 14,
      speed: 10
    })
  })
  mapIsLoaded.value = true
}
onMounted(async (): Promise<void> => {
  const tiles = import.meta.env.VITE_TILES
  try {
    if (props.geovisioViewer) return await setupViewerMap(tiles)
    return await setupMap(tiles)
  } catch (err) {
    mapIsLoaded.value = true
    console.log(err)
  }
})
onUnmounted((): void => {
  if (viewer.value && props.geovisioViewer) viewer.value.destroy()
})
</script>

<style scoped lang="scss">
.entry-viewer {
  font-size: initial;
  position: relative;
  width: 100%;
  height: 100%;
}
.gvs-focus-map .entry-report-button {
  display: none;
}
</style>
